*

!*.yaml
!*.yml
!.gitignore
!*.md
!*.conf

!/hass-config/
!/hass-config/www/

!/fail2ban/
!/fail2ban/data/
!/fail2ban/data/filter.d
!/fail2ban/data/jail.d


known_devices.yaml
secrets.yaml
ip_bans.yaml

.cloud
.storage
.google*
.spotify*
.uuid
