*

!.gitignore
!*.yaml
!*.yml
!.gitignore
!*.md
!*.conf

!/hass-config/
!/hass-config/www/
!/hass-config/www/**

!/fail2ban/
!/fail2ban/data/
!/fail2ban/data/filter.d
!/fail2ban/data/jail.d

!/.github-files
!/.github-files/*

!/rhasppy/profiles/en/sentences.ini
!/rhasspy/profiles/en/slots/*

!start-containers.sh

known_devices.yaml
secrets.yaml
ip_bans.yaml

.cloud
.storage
.google*
.spotify*
.uuid

smb.conf
